.card-item-container {
  margin: 1rem;
  margin-left: 0;
  max-width: 430px;
  width: 30%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(165, 165, 165, 0.15);
  border-radius: 5px;
}
.card-title {
  font-weight: 400;
  padding-top: 20px;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 20px;
  font-family: "Roboto";
  font-size: 18px;
  padding-left: 24px;
}
.card-details-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
 
}

.card-details {
  font-size: 14px;
  font-weight: 400;
  color: #747373;
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  font-family: "Roboto";
  padding-bottom: 20px;
}

.card-detail {
  padding-top: 0px;
}
.third-section {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 28px;
}


.more-details {
  font-weight: 500;
}

.bookmark{
  cursor: pointer;
}


.bookmark-img {
  filter: opacity(0.4) drop-shadow(0 0 0 red);
 
}
.card-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

@media (max-width: 1175px) {
    .card-item-container{
        width: 45%;
    }
    .card-wrapper{
      justify-content: space-around;
    }
}

@media (max-width: 770px) {
    .card-item-container{
        width: 100%;
    
    }

  .card-wrapper{
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  .card-container{
    
      padding-left: 1rem;
      padding-right: 1rem;
  }
  .card-wrapper{
    justify-content: space-around;
  }
}

@media (max-width: 1994px) {
  .card-item-container{
      width: 100vw;
      
  }
}
