.card-container {
  max-width: 1536px;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 80px;
  margin: 0 auto;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.16rem;
  justify-content: space-between;
  width: 100%;
}
.main-header {
  padding-top: 2.16rem;
  padding-bottom: 1.08rem;
  font-size: 20px;
  color: #03009e;
  border-bottom: 1px solid #c4c4c4;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 23px;
  font-style: normal;
}

.btn-container{
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 3px;
  cursor: pointer;
 
}

.prev-btn{
  border: none;
  background-color:#fff;
}

.next-btn{
  border: none;
  background-color:#fff;
}

.page-btn{
  outline: none;
  border: none;
  border-radius: 2px
}


.page-btn:focus{
background-color:   #03009e;
color: #fff;
}
